.body {
    margin: 100px;
    align-items: center;
}

.main-box {
    display: grid;
    width: 800px;
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: red;
    border-color: black;
    text-align: center;

    transition-property: all;
    -webkit-transition-property: background-color, border-radius;
    -moz-transition-property: background-color, border-radius;
    -o-transition-property: background-color, border-radius;

    transition-duration: 1s, 2s;
    -webkit-transition-duration: 1s, 2s;
    -moz-transition-duration: 1s, 2s;
    -o-transition-duration: 1s, 2s;

    transition-timing-function: ease, ease-in-out;
    -webkit-transition-timing-function: ease, ease-in-out;
    -moz-transition-timing-function: ease, ease-in-out;
    -o-transition-timing-function: ease, ease-in-out;
}

.box1 {
    grid-column: 1/span 2;
    grid-row: 1/ span 2;
    background-color: rgb(161, 42, 42);
    line-height: 200px;
    text-align: center;
    color: aliceblue;
    text-decoration: overline underline;
    text-decoration-thickness:5px ;
    text-decoration-color: aliceblue;
 }

.box2 {
    grid-column: 3/span 2;
    grid-row: 1/ span 2;
    line-height: 200px;
    color: aliceblue;
    text-decoration-style: overline;
    text-decoration: overline;
    text-decoration-color: aliceblue;
}

.box2:active {
    transition-property: vertical-align;
    color: aliceblue;
    transition-timing-function: linear;
}

.box3 {
    grid-column: 3 /span 2;
    grid-row: 3/ span 2;
    background-color: rgb(161, 42, 42);
    text-decoration-color: aliceblue;
}

.box4 {
    grid-column: 1/ span 2;
    grid-row: 3/ span 2;
    text-decoration-color: aliceblue;
}